{{block "menu-list" .}}
    <ul id="menu-list" hx-swap-oob="true">
        <li
                class="{{if eq .Source "hackernews" }}active{{end}}"
                hx-get="/source/hackernews"
                hx-swap="innerHTML"
        >
            hackernews
        </li>
        <li
                class="{{if eq .Source "lobsters" }}active{{end}}"
                hx-get="/source/lobsters"
                hx-swap="innerHTML"
        >
            lobsters
        </li>
    </ul>
{{end}}
