{{block "source-list" .}}
    <ul id="result-container" hx-swap-oob="true">
        {{range .Entries}}
            <li>
                <a href="{{.Url}}" target="_blank">{{.Title}}</a>
                <span>({{.Url.Hostname}})</span>
            </li>
        {{end}}
    </ul>
{{end}}